<?xml version="1.0" encoding="UTF-8"?>
<root>
	<item id="name">Check file permissions</item>
	<item id="version">1.0.0</item>
	<item id="author">Monkey</item>
	<item id="date">2008-6-16</item>
	<item id="lastmodified">2008-6-16</item>
	<item id="copyright">Comsenz Inc.</item>
	<item id="tabindex">2</item>
	<item id="tips">Check if UCenter files was modified.</item>
	<item id="lang">
		<item id="plugin_filecheck_modifed">Modified</item>
		<item id="plugin_filecheck_deleted">Deleted</item>
		<item id="plugin_filecheck_unknow">Unknown</item>
		<item id="plugin_filecheck_modifed_in_aweek">Modified last week</item>
	</item>
</root>