<?xml version="1.0" encoding="ISO-8859-1"?>
<root>
	<item id="name">Update key</item>
	<item id="version">1.0.0</item>
	<item id="author">Discuz! X Community Team</item>
	<item id="date">2022-01-30</item>
	<item id="lastmodified">2022-01-30</item>
	<item id="copyright">Discuz! X Community Team</item>
	<item id="tabindex">2</item>
	<item id="tips">You should consider doing a key update when your site is compromised to avoid hackers cracking the UC_KEY key with a known UC_MYKEY key.</item>
	<item id="lang">
		<item id="plugin_replacemykey_tips">Before operation, it is recommended that you choose to operate during off-peak hours or temporarily close down-linked websites, and do a good job of backing up the data and files of UCenter and each application.</item>
		<item id="plugin_replacemykey_confirm">Confirm</item>
		<item id="plugin_replacemykey_confirm_tips">I have understood the above risks and have done a good job of backing up the website.</item>
	</item>
</root>