/*
	Name:			mod_iconfont
	Level:			Global
	Explain:		Introduce iconfont in advance to facilitate subsequent css calls
*/
	@font-face { font-family: "dzicon"; src: url('../common/dzicon.eot'); src: url('../common/dzicon.eot?#iefix') format('eot'), url('../common/dzicon.woff2') format('woff2'), url('../common/dzicon.woff') format('woff'); font-weight: normal; font-style: normal; }
	[class^="fico-"]:before, [class*=" fico-"]:before { font-family: "dzicon"; font-style: normal; font-weight: normal; speak: none; display: inline-block; text-decoration: inherit; width: 1em; margin-right: .2em; text-align: center; font-variant: normal; text-transform: none; line-height: 1em; font-size: 120%; }
	/* font icon size */
	.fic4 { font-size: 14px; }.fic6 { font-size: 16px; }.fic8 { font-size: 18px; }
	/* flip x */
	.fifx::before { transform: scale(-1,1); }
	/* font rotate */
	@keyframes dzrotate{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
	.ficr { margin-right: .2em; }.ficr:before { margin-right: 0; animation: dzrotate 2s infinite linear; }
	.loadicon { background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3e%3cpath fill='%23999' d='M12.2 12.2L14 14H9V9l1.8 1.8c.7-.7 1.2-1.7 1.2-2.8 0-1.9-1.3-3.4-3-3.9v-2c2.8.4 5 2.9 5 5.9 0 1.6-.7 3.1-1.8 4.2zM3.8 3.8C2.7 4.8 2 6.3 2 8c0 3 2.2 5.4 5 5.9v-2.1c-1.7-.4-3-2-3-3.9 0-1.1.5-2.1 1.2-2.8L7 7V2H2l1.8 1.8z'/%3e%3c/svg%3e"); display: inline-block; width: 16px; height: 16px; animation: dzrotate 1.2s infinite linear; }
	/* font color primary/secondary/notice/light/alarm/valid/invalid */
	.fc-p { color: {MENUBGCOLOR}; } .fc-s { color: #999; } .fc-n { color: #7DA0CC; } .fc-l { color: #FF9C00; } .fc-a { color: #F26C4F; } .fc-v { color: #7CBE00; } .fc-i { color: #FF512C; } .fc-t { color: transparent; }
	/* no margin right */
	.fnmr:before { margin-right: 0; }

/* font icon A list of icons for users to call */
.fico-person:before{content:"\f100";}
.fico-search:before{content:"\f101";}
.fico-account_box:before{content:"\f102";}
.fico-account:before{content:"\f102";}
.fico-home:before{content:"\f103";}
.fico-assessment:before{content:"\f104";}
.fico-widthfixed:before{content:"\f105";}
.fico-widthauto:before{content:"\f106";}
.fico-styleselect:before{content:"\f107";}
.fico-add_circle:before{content:"\f108";}
.fico-add:before{content:"\f108";}
.fico-remove_circle:before{content:"\f109";}
.fico-remove:before{content:"\f109";}
.fico-rss_feed:before{content:"\f10a";}
.fico-rss:before{content:"\f10a";}
.fico-refresh:before{content:"\f10b";}
.fico-delete:before{content:"\f10c";}
.fico-comment:before{content:"\f10d";}
.fico-edit:before{content:"\f10e";}
.fico-push:before{content:"\f10f";}
.fico-thumbup:before{content:"\f110";}
.fico-thumbdown:before{content:"\f111";}
.fico-collection:before{content:"\f112";}
.fico-activitysm:before{content:"\f113";}
.fico-share:before{content:"\f114";}
.fico-check_right:before{content:"\f115";}
.fico-error:before{content:"\f116";}
.fico-info:before{content:"\f117";}
.fico-qq:before{content:"\f118";}
.fico-email:before{content:"\f119";}
.fico-task:before{content:"\f11a";}
.fico-scrolltop:before{content:"\f11b";}
.fico-replyfast:before{content:"\f11c";}
.fico-list:before{content:"\f11d";}
.fico-follow:before{content:"\f11e";}
.fico-friendadd:before{content:"\f11f";}
.fico-mypost:before{content:"\f120";}
.fico-interactive:before{content:"\f121";}
.fico-settings:before{content:"\f122";}
.fico-link:before{content:"\f123";}
.fico-up:before{content:"\f124";}
.fico-down:before{content:"\f125";}
.fico-left:before{content:"\f126";}
.fico-right:before{content:"\f127";}
.fico-valid:before{content:"\f128";}
.fico-invalid:before{content:"\f129";}
.fico-stars:before{content:"\f12a";}
.fico-sun:before{content:"\f12b";}
.fico-star3:before{content:"\f12b";}
.fico-moon:before{content:"\f12c";}
.fico-star2:before{content:"\f12c";}
.fico-star:before{content:"\f12d";}
.fico-star1:before{content:"\f12d";}
.fico-checkbox:before{content:"\f12e";}
.fico-checked:before{content:"\f12f";}
.fico-doing:before{content:"\f130";}
.fico-volume:before{content:"\f131";}
.fico-image:before{content:"\f132";}
.fico-attachment:before{content:"\f133";}
.fico-thread:before{content:"\f134";}
.fico-clock:before{content:"\f135";}
.fico-lock:before{content:"\f136";}
.fico-print:before{content:"\f137";}
.fico-help:before{content:"\f138";}
.fico-launch:before{content:"\f139";}
.fico-imgadjust:before{content:"\f13a";}
.fico-vote:before{content:"\f13b";}
.fico-reward:before{content:"\f13c";}
.fico-vs:before{content:"\f13d";}
.fico-group:before{content:"\f13e";}
.fico-cart:before{content:"\f13f";}
.fico-headset:before{content:"\f140";}
.fico-phone:before{content:"\f141";}
.fico-place:before{content:"\f142";}
.fico-camera:before{content:"\f143";}
.fico-voice:before{content:"\f144";}
.fico-bell:before{content:"\f145";}
.fico-loading:before{content:"\f146";}
.fico-poke:before{content:'\f146';}
.fico-profile:before{content:'\f147';}
.fico-dropdown:before{content:'\f148';}
.fico-ban:before{content:'\f149';}
.fico-tag:before{content:'\f14a';}

